.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body{
  background: url(./img/fondo-celeste-oscuro-6269.jpg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.userForm{
  align-items: center;
  background: whitesmoke;
  width: 350px;
  height: 450px;
}

.userForm>h1{
  background: #2980B9;
  height: 100px;
  padding-top: 50px;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.input-container{
  margin: 20px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}

.input-container > input{
  height: 25px;
  width: 200px;
  border-style: hidden;
  border-radius: 0.4rem;
  transition: box-shadow(300ms);
  box-shadow: 0.1rem 0.1rem .3rem;
}

button{
  width: 150px;
  height: 25px;
  background-color: #2980B9;
  border: none;
  margin-right: 5px;
}

button:hover{
  background-color: gray;
}

